@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');
$mainColor: #b71c1c;
$secondaryColor: #ff8a80;
$titleFont: 'Montserrat', sans-serif;


body{
  background-color: #ffffff;

}

.mainDividerTitle{
  font-family: $titleFont;
  font-size: 70px;
  letter-spacing: -.05em;
  color: #fff;
  text-shadow: 1px 1px 2px black;
  position: relative;
  bottom: 30px;

}

.titleBlock {
  height: 80px;
  color: #ffffff;
  padding: 35px;
  margin-top: 275px;
}

.subTitle {
  
  text-shadow: 1px 1px 2px black;
  font-family: $titleFont;
  font-size: 20px;
  padding-top: 50px;
  span {
    padding: 30px;
    letter-spacing: -.05em;
    a {
      color:#fff;
    }
  }
}

.mainTitle {
  font-size: 23px;
  font-weight: 900;
  width: 80px;
}

.frontBackground{
  height: 750px;
  background-size: cover;
  background-repeat: no-repeat;
  position: static;
}
.tvButton{
  margin-left: 70px;
}

.navStyles {
  background: transparent;
  border: none;
  z-index: 5;
  margin-bottom: 0;
  position: fixed;

}

.navigation{

		display: flex;
		height: 37px;
		align-items: center;
		padding: 0 10px;

		li {
			font-weight: 400;
			padding: 0px;
			font-size: 14px;
			border-top: 20px;
			border-radius: 10px;
      margin:  20px 30px 0 0;
      .active{
        background-color: $secondaryColor;
      }


			&:hover {
				background: $secondaryColor;
				cursor: pointer;
			}
      a{
       padding-top: 10px;
        color: #ffffff !important;
         border-radius: 10px;
      }
		}

}


.headerLinks {
  background-color: $mainColor;
  height: 40px;
  margin-top: 10px;
  a {
    background-color: $mainColor ;
    background-image: none !important;
    border-radius: 10px;
  }
}



.navbar-default .navbar-nav>.active>a,
 .navbar-default .navbar-nav>.active>a:focus,
  .navbar-default .navbar-nav>.active>a:hover{
  background-image: none;
  background-color: $secondaryColor;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 36px;
  padding: 10px;

}

/* Color/shape of burger icon bars */
.bm-burger-bars {

  background: $mainColor;

}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: $mainColor;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  font-size: 1.25em;
  a {
    color: #b8b7ad;
  }
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
// Styling for Menu items
.menu-item{
  color: $mainColor;
}

#loader{

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $mainColor;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


.searchForm {
  width: 250px;
  border: 2px solid rgba(245, 245, 241, 0.1);
  color: #ffffff;
  outline: none;
  margin-left: 20px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: $mainColor;
  border-color: $mainColor;
}

.pagination>li>a {
  color: $mainColor;
}

.halfPop{
  height: 350px;
  margin: 0;
  padding: 0;
}

.quarterPop {
  padding: 0;
  height: 350px;

}

.smallPopImg {
  height: 175px;
  padding: 0;
}

.popImage {
  width: 100%;
  object-fit: cover;
}

.detailInfo {

  background-color: #000000;
  border-radius: 2px;
  padding: 10px;
  color: #ffffff;
  font-size: 16px;
}

.inputArea {
  height: 37px;
  border: 2px solid rgba(255, 245, 241, 0.4);
  border-radius: 37px;
  font-size: 14px;
  font-weight: 300px;
  padding: 0 10px;
  background: transparent;
  outline: none;
  margin-left: 20px;
  color: #ffffff;
  width: 250px;
}


.footer{
  position: relative;
  bottom: 0;
  background-color: #000000;
  color: #ffffff;

}

.footerContent{
  padding-top: 70px;
}
