@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');
$mainColor: #b71c1c;
$secondaryColor: #ff8a80;
$titleFont: 'Open Sans', sans-serif;


body{
  background-color: #ffffff;
}

.navbar-default .navbar-brand{
  font-family: $titleFont;
  font-size: 45px;
  color: $mainColor;
  text-shadow: 1px 1px 2px black;

}

.titleBlock {
  height: 150px;
  background-color: $mainColor;
  color: #ffffff;
  padding: 40px;
  border-style: solid;
  border-width: 3px;
  border-color: #FFFFFF;
}

.mainTitle {
  font-size: 23px;
  font-weight: 900;
  width: 80px;
}

.navStyles {
  background: transparent;
  border: none;
  z-index: 5;
  margin-bottom: 0;
  position: fixed;

}

.navigation{

		display: flex;
		height: 37px;
		align-items: center;
		padding: 0 10px;

		li {
			font-weight: 400;
			padding: 0px;
			font-size: 14px;
			border-top: 20px;
			border-radius: 10px;
      margin:  20px 30px 0 0;
      .active{
        background-color: $secondaryColor;
      }


			&:hover {
				background: $secondaryColor;
				cursor: pointer;
			}
      a{
       padding-top: 10px;
        color: #ffffff !important;
      }
		}

}

.homeLink a{
  background-color: $mainColor !important;
  background-image: none;
}

.headerFont {
  background-color: $mainColor;
  height: 40px;
  margin-top: 10px;
}

.searchForm {
  width: 250px;
  border: 2px solid rgba(245, 245, 241, 0.1);
  color: #ffffff;
  outline: none;
  margin-left: 20px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  background-color: $mainColor;
  border-color: $mainColor;
}

.pagination>li>a {
  color: $mainColor;
}

.halfPop{
  height: 350px;
  margin: 0;
  padding: 0;
}

.quarterPop {
  padding: 0;
  height: 350px;

}

.smallPopImg {
  height: 175px;
  padding: 0;
}

.popImage {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.detailInfo {
  position: relative;
  background-color: #000000;
  border-radius: 2px;
  opacity: .8;
  padding: 10px;
  margin-top: 100px;
  color: #ffffff;
}

.boxCover {
  position: relative;
  opacity: .9;
  margin-top: -600px;

  img{
    margin-left: -15px;
  }
}

.footer{
  position: relative;
  bottom: 0;
  background-color: #000000;

}
